<div class="container-adopt">
    <br><br><br>  <br><br><br>
    <p class="text-adopt">You're adopting {{animal.animalname}} </p>
    <p class="text-adopt">please write your's id so we can</p>
    <p class="text-adopt">register you on our database</p>
    <br>
    <p class="text-adopt">Thanks for adopting!</p>
    <form method="post" action="/own/{{animal.id}}">
        <div class="text-adopt"> id <input type="text" class="id-text", name="idtx">
            <a href="/"><button class="adopt-btn"> Adopt</button>
        </div> </a>
    </form>
</div>