<div class="container-profile">
    <img src={{dataUser.picture}} class="img-profile"> </img>
    <div>
        <br>
        <br>
        <span class="attribute-profile">
            <strong>Name:</strong>{{dataUser.name}}
        </span>
        <br><br>
        <span class="attribute-profile">
            <strong>Email:</strong> {{dataUser.email}}
        </span>
        <br>
    </div>
</div>